/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap'); /* Protest Riot */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Riot&display=swap'); /*Lato*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

:root {
  --dark-color: #221c19;
  --main-color: #ddbea9;
  --base-color: #b67a52;
  --bg-color: #faf3ee;

  /* Box Shadow */
  --box-shadow: ;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  transition: 0.5s linear;
  background: var(--dark-color);
}

#menu-icon {
  display: none;
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--bg-color);
  text-transform: uppercase;
  padding: 4px 17px;
  font-size: 1rem;
  font-weight: 900;
}
.navbar a:hover {
  color: var(--dark-color);
  background-color: var(--main-color);
  border-radius: 0.3rem;
  transition: 0.2s all linear;
}
.logo img {
  width: 60px;
}
.header-icon {
  font-size: 23px;
  display: flex;
  column-gap: 2rem;
  z-index: 10000;
  cursor: pointer;
}
.header-icon .bx {
  color: var(--bg-color);
}
.header-icon .bx:hover {
  color: var(--main-color);
}
.search-box.active {
  top: 110%;
  transition: 0.3s all linear;
}
.search-box {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: -100%;
  width: 100%;
  background: var(--bg-color);
}
.search-box input {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
}
.home {
  min-height: 100vh;
  width: 100%;
  background: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  padding: 20px 70px;
}

.home-text h1 {
  text-transform: uppercase;
  color: var(--base-color);
  font-weight: 900;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.home-text p {
  color: var(--bg-color);
  width: 70%;
  margin: 10px 0 30px;
  text-align: justify;
  font-weight: 400;
}

.home-img img {
  width: 650px;
}

.btn {
  color: var(--bg-color);
  background-color: var(--base-color);
  border-radius: 0.4rem;
  padding: 10px 50px;
  font-size: 1rem;
  font-weight: 800;
}

.btn:hover {
  background: rgb(182, 105, 53);
}
.about-img img {
  width: 350px;
}
.about {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  gap: 4rem;
  padding: 10px 200px;
  margin: 50px 0;
}
.about-text {
  color: var(--dark-color);
}
.about-text h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
}
.about-text p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0;
}
